* {
  box-sizing: border-box;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  
}

body{
  margin: 0;
  background-color: rgb(255, 251, 246);
}

li{
  list-style-type: square;
}

.btn{
  background-color:  rgb(6, 32, 22);
  font-size: 18px;
  color: rgb(255, 251, 246);
  border: 0;
}

.nav-bar{
  position: fixed;
  height: 100%;
  max-width: 100px;
  background-color: rgb(6, 32, 22);
}

.flex-row{
  display: flex;
  flex-wrap: wrap;
}

.menu{
  display: flex;
  flex-direction: column;
  width: 100px;
  justify-content: center;
  background-color:rgb(6, 32, 22);
}

.button1{
  color: rgb(42, 161, 122);
  position: fixed;
  bottom: 10px;
  left: 19px;
}

.button2{
  color: rgb(42, 161, 122);
  position: fixed;
  bottom: 80px;
  left: 22px;
 }

.menu-item{
  width: 100%;
  padding: 20px 0px 20px 0px;
  font-size: 18px;
  list-style-type: none;
  text-decoration: none;
  color:  rgb(255, 251, 246);
  text-align: center;
  flex-shrink: 1;
}

.menu-item:hover{
  background-color: rgb(6, 32, 22);
}

.content{
  flex: 90%;
  margin-left: 100px;
  font-size: 110%;
  
}

.content .about h2{
  font-weight: 600;
  margin: 20px;
}
.content .about{
  text-align: center;
  align-content: center;
  padding: 10px;
  color: rgb(255, 246, 234);
  background-color: rgb(6, 32, 22);
}
.about p{
  text-align: left;
  max-width: 600px;
  margin: auto;
  margin-bottom: 25px;
}

.content .about img{
  border-radius: 100%;
  max-width: 400px;
  width: 100%;
  margin: auto;
  margin-top: 50px;
  position: relative;
}

.content .resume{
  padding: 10px;
}

.content .projects{
  background-color:  rgb(255, 251, 246);
}

.content .contact{
  padding: 10px;
  max-height: 400px;
}

footer{
  flex: 90%;
  margin-left: 100px;
  text-align: center;
  color:black; 
}

a.highlight {
  background-color:  rgb(13, 66, 46);
  transition: 0.3 ease-in-out;
}

@media screen and (max-width: 600px) {
  .nav-bar{
    flex: 100%;
    max-width: 100%;
    width: 100%;
    position: fixed;
    height: 60px;
    z-index: 99;
  }

  .menu{
    display: flex;
    flex-direction: row;
    width: auto;
    width: auto;
    justify-content: center;
  }
  .button1{
    position: relative;
    top: 10px;
    left: -10px;
  }

  .button2{
    position: relative;
    top: 10px;
    left: -5px;
  }

  .content{
    flex: 100%;
    margin-left: 0px;
  }

  .content .about{
    margin-top: 60px;
  }

  .footer{
    flex: 100%;
    margin-left: 0px;
  }
}