* {
  box-sizing: border-box;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  margin: 0;
  background-color: rgb(114, 85, 53);
}
.nav-bar{
  position: fixed;
  height: 100%;
  max-width: 100px;
  background-color: bisque;
}

.flex-row{
  display: flex;
  flex-wrap: wrap;
}

.menu{
  display: flex;
  flex-direction: column;
  width: 100px;
  justify-content: center;
  background-color:bisque;
}

.button1{
  color: rgb(42, 161, 122);
  position: fixed;
  bottom: 10px;
  left: 19px;
}

.button2{
  color: rgb(42, 161, 122);
  position: fixed;
  bottom: 80px;
  left: 22px;
 }



.menu-item{
  width: 100%;
  padding: 20px 0px 20px 0px;
  font-size: 16px;
  list-style-type: none;
  text-decoration: none;
  color: black;
  text-align: center;
  flex-shrink: 1;
}

.menu-item:hover{
  background-color: rgb(42, 161, 122);
}

.content{
  flex: 90%;
  margin-left: 100px;
  font-size: 110%;
}

.about h2{
  font-weight: 600;
}
.about{
  text-align: center;
  align-content: center;
  padding: 10px;
  background-color: rgb(131, 97, 61);
}
.about p{
  margin-left: 50px;
  margin-right: 50px;
}

.about img{
  border-radius: 100%;
  max-width: 300px;
  margin: auto;
  margin-top: 10px;
  position: relative;
}

.resume{
  padding: 10px;
}

.projects{
  padding: 10px;
  background-color: rgb(131, 97, 61);

}

.projects .row{
  height: 300px;
  border: 1px solid var(--white);
  padding: 10px;
}


.contact{
  padding: 10px;
}